#iconDiv{
    width:100px;
    height: 100px;
display: inline-block;
background-color: white;
border-radius: 11px;
}
.InfoCardContainer{
    padding-right:20px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 20px 0;
}
.basicInfo{
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.shieldContainer{
    height: 200px;
    width:200px;
    *{
        max-height: 100% !important;
        max-width: 100%  !important;
    }
    svg>path{
        fill:none;
    }
    path>path{
        fill:white;
    }
}