.infoCard {
    padding: 10px 20px;
    background-color: black;
    opacity: 0.8;
    // border: 4px solid white ,4px solid yellow;
    // box-shadow: 0px 0px 0px 2px #ff0000,
    //     0px 0px 0px 8px #000,
    //     0px 0px 10px 0px #000;
    border:15px solid;
    border-radius: 8%;
    border-image-source: url('./border.svg');
    border-image-slice: 20;
    border-image-width: 4;
    border-image-outset: 1;
    // border-image: url('../../../../icons/boxBoredr-removebg-preview.png');
    // border-image: url('../../../../icons/class_icons/cleric.png');
    margin: 20px 15px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.col{
    display: flex;
    flex-direction: column;
    border-image-width: 2;

}
div.spaced{
    justify-content: space-between;
}

