section{
  // width: 500px;
  // align-self: center;
  margin-top: 20px;

}
input
    {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        background-color: rgba(black,0.5);
        color:#ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
